.chemin {
  border-radius: 100%;
}

.coin-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  background-color: white;
  border-radius: 100%;
  border: solid 15px;
}

.coin-container.paper {
  color: hsl(230, 89%, 62%);
}
.coin-container.rock {
  color: hsl(349, 71%, 52%);
}
.coin-container.scissors {
  color: hsl(39, 89%, 49%);
}
@media only screen and (max-width: 767px) {
  .coin-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    border: solid 15px;
  }
}