.jeu-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.pieces {
  display: flex;
  justify-content: space-around;
  width: 65%;
  height: 65%;
  align-items: center;
  pointer-events: none;
}

.apercus-container {
  width: 75%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.apercus {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.back-button {
  text-decoration: none;
  font-size: 2rem;
  color: hsl(229, 64%, 46%);
  width: 20%;
  height: 6%;
  border: solid hsl(217, 16%, 45%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-buttonDisparition {
  display: none;
}

.end-button {
  display: none;
}

.end-buttonApparition {
  text-decoration: none;
  font-size: 2rem;
  color: hsl(229, 64%, 46%);
  width: 20%;
  height: 6%;
  border: solid hsl(217, 16%, 45%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .jeu-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .pieces {
    display: flex;
    justify-content: space-around;
    width: 85%;
    height: 24%;
    align-items: center;
    pointer-events: none;
  }

  .apercus-container {
    width: 75%;
    height: 35%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
  }
  .apercus {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
  }
  .back-button {
    text-decoration: none;
    font-size: 2rem;
    color: hsl(229, 64%, 46%);
    width: 85%;
    height: 7%;
    border: solid hsl(217, 16%, 45%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }

  .back-buttonDisparition {
    display: none;
  }

  .end-button {
    display: none;
  }

  .end-buttonApparition {
    text-decoration: none;
    font-size: 2rem;
    color: hsl(229, 64%, 46%);
    width: 75%;
    height: 7%;
    border: solid hsl(217, 16%, 45%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  .header-jeupage{
    width: 88%;
    height: 23vh;
    border: hsl(217, 16%, 45%) solid 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center
  }
}
