.endgame-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.newgame-button {
  text-decoration: none;
  font-size: 2rem;
  color: hsl(229, 64%, 46%);
  width: 20%;
  height: 6%;
  border: solid hsl(217, 16%, 45%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-over {
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

@media only screen and (max-width: 767px) {
  .game-over {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }
  .endgame-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .newgame-button {
    text-decoration: none;
    font-size: 2rem;
    color: hsl(229, 64%, 46%);
    width: 74%;
    height: 5%;
    border: solid hsl(217, 16%, 45%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
