.game-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.selection{
  width: 27%;
  height: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.disable{
  pointer-events: none;
}

.selection .coin-container:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.selection .coin-container:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.selection .coin-container:nth-of-type(3){
  position: absolute;
  bottom: 0;
  left: 32%;
}
.manches{
  font: 500;
  font-size: 2em;
  color: hsl(229, 64%, 46%);
}
@media only screen and (max-width: 767px) {
  .game-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  .selection{    
    width: 85%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
  }
  
  .disable{
    pointer-events: none;
  }
  
  .selection .coin-container:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
  }
  .selection .coin-container:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
  }
  .selection .coin-container:nth-of-type(3){
    position: absolute;
    bottom: 0;
    left: 25%;
  }
  
  .manches{
    font: 500;
    font-size: 2em;
    color: hsl(229, 64%, 46%);
    text-align: center;
    width: 90%;
  }
  .triangle{
    display: none;
  }
}